<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ikalogic.franck.permissions">

	<application>
        <activity
            android:name=".PermActivity"
            android:theme="@style/Theme.Transparent"
            android:launchMode="singleTask"
            />
    </application>

</manifest>
